<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>CarRentalManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/Error.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.sriadmin.usermanage.web.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarServlet</display-name>
    <servlet-name>CarServlet</servlet-name>
    <servlet-class>com.sriadmin.usermanage.web.CarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarServlet</servlet-name>
    <url-pattern>/CarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete</display-name>
    <servlet-name>delete</servlet-name>
    <servlet-class>com.sriadmin.usermanage.web.delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bookServlet</display-name>
    <servlet-name>bookServlet</servlet-name>
    <servlet-class>com.sriadmin.usermanage.web.bookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookServlet</servlet-name>
    <url-pattern>/bookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet1</display-name>
    <servlet-name>UserServlet1</servlet-name>
    <servlet-class>com.sriadmin.usermanage.web.UserServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet1</servlet-name>
    <url-pattern>/UserServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.sriadmin.adminman.web.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertServlet</display-name>
    <servlet-name>InsertServlet</servlet-name>
    <servlet-class>com.sriadmin.adminman.web.InsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertServlet</servlet-name>
    <url-pattern>/InsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteUser</display-name>
    <servlet-name>deleteUser</servlet-name>
    <servlet-class>com.sriadmin.adminman.web.deleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteUser</servlet-name>
    <url-pattern>/deleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bookCarServlet</display-name>
    <servlet-name>bookCarServlet</servlet-name>
    <servlet-class>com.sriadmin.adminman.web.bookCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookCarServlet</servlet-name>
    <url-pattern>/bookCarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>reserveCarServlet</display-name>
    <servlet-name>reserveCarServlet</servlet-name>
    <servlet-class>com.sriadmin.adminman.web.reserveCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reserveCarServlet</servlet-name>
    <url-pattern>/reserveCarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>reserveServlet</display-name>
    <servlet-name>reserveServlet</servlet-name>
    <servlet-class>com.sriadmin.usermanage.web.reserveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reserveServlet</servlet-name>
    <url-pattern>/reserveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberServlet</display-name>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>com.sriadmin.usermanage.web.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/MemberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>requestMember</display-name>
    <servlet-name>requestMember</servlet-name>
    <servlet-class>com.sriadmin.adminman.web.requestMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>requestMember</servlet-name>
    <url-pattern>/requestMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>acceptMember</display-name>
    <servlet-name>acceptMember</servlet-name>
    <servlet-class>com.sriadmin.adminman.web.acceptMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>acceptMember</servlet-name>
    <url-pattern>/acceptMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteMember</display-name>
    <servlet-name>deleteMember</servlet-name>
    <servlet-class>com.sriadmin.adminman.web.deleteMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteMember</servlet-name>
    <url-pattern>/deleteMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutServlet</display-name>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>com.sriadmin.usermanage.web.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bookServletUser</display-name>
    <servlet-name>bookServletUser</servlet-name>
    <servlet-class>com.sriadmin.adminman.web.bookServletUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookServletUser</servlet-name>
    <url-pattern>/bookServletUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cancelBooking</display-name>
    <servlet-name>cancelBooking</servlet-name>
    <servlet-class>com.sriadmin.usermanage.web.cancelBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cancelBooking</servlet-name>
    <url-pattern>/cancelBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cancelBookingMember</display-name>
    <servlet-name>cancelBookingMember</servlet-name>
    <servlet-class>com.sriadmin.usermanage.web.cancelBookingMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cancelBookingMember</servlet-name>
    <url-pattern>/cancelBookingMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cancelBookingUser</display-name>
    <servlet-name>cancelBookingUser</servlet-name>
    <servlet-class>com.sriadmin.adminman.web.cancelBookingUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cancelBookingUser</servlet-name>
    <url-pattern>/cancelBookingUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cancelReservation</display-name>
    <servlet-name>cancelReservation</servlet-name>
    <servlet-class>com.sriadmin.usermanage.web.cancelReservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cancelReservation</servlet-name>
    <url-pattern>/cancelReservation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cancelReservationMember</display-name>
    <servlet-name>cancelReservationMember</servlet-name>
    <servlet-class>com.sriadmin.usermanage.web.cancelReservationMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cancelReservationMember</servlet-name>
    <url-pattern>/cancelReservationMember</url-pattern>
  </servlet-mapping>
</web-app>